# Folder
.mixin.out
asm
blueprints
contentScripts
journeymap
llibrary
local
logs
resourcepacks
saves
screenshots
shaderpacks
visualink
config/INpureProjects/custom_nei_filters

# File
.ReAuth.cfg
usernamecache.json
options.txt
optionsof.txt
optionsshaders.txt
LFC_Replacer-*.jar
replace*
servers.dat
minetweaker.log
gamemodes.json
ContentTweaker-Resourcepack.zip
OptiFine_1.7.10_HD_U_E7.jar
Visualink-1.7.10-1.0.0.2-universal.jar
config/InvTweaks.cfg
config/MouseTweaks.cfg
